/*
PREFIX: ui-frame-
*/

ui-frame {
    display: flex;
    flex-direction: column;

    position: relative;
}

.ui-frame-title-container {
    display: flex;
    flex-direction: row;

    flex: 1;
    background-color: white;
}

.ui-frame-title {
    flex: 1;
    font-size: 12px;
    font-weight: bolder;
    color: black;

    padding: 2px;

    overflow: hidden;
    
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}

.ui-frame-close-button {
    width: 20px;
    height: 100%;
    padding: 0 5px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='7' viewBox='0 0 8 7' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0H1H2V1H3V2H4H5V1H6V0H7H8V1H7V2H6V3H5V4H6V5H7V6H8V7H7H6V6H5V5H4H3V6H2V7H1H0V6H1V5H2V4H3V3H2V2H1V1H0V0Z' fill='black'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;

    cursor: pointer;
}

.ui-frame-close-button:hover {
    background-color: #00000021;
}

.ui-frame-stripes {
    width: 3px;
    flex-shrink: 0;
    flex-grow: 0;

    background: repeating-linear-gradient(45deg, #000000, #000000 3px, transparent 0, transparent 5px);
}

.ui-frame-content-container {
    height: 100%;
    color: white;

    background-color: #0c0c0c;
    position: relative;
}

.ui-frame-qr-container {
    display: flex;

    height: 7px;
    width: 100%;

    overflow: hidden;
}

ui-frame[qr] .ui-frame-title-container,
ui-frame[qr] .ui-frame-content-container {
    border-left: solid 2px white;
}

.ui-frame-qr-triangle {
    width: 0;
    height: 0;

    border-left: 20px solid transparent;
    border-top: 20px solid #fff;

    position: relative;
    left: -4px;
}

.ui-frame-qr {
    height: 100%;
    width: 40%;
}
